/.vscode

/AR/libs/three
/AR/models

/backend/node_modules
/backend/*.npz

/frontend/node_modules
/frontend/public/uploads
/frontend/public/temp

/img_searcg/Lib
/img_searcg/Scripts
/img_searcg/*.tar
/img_searcg/*.npz
/img_searcg/*.cfg

/webxr-example-master
/*.zip

