img {
    height : 30vh;
    padding : 5%;
    margin : 5%;
}

.slide-container {
    width : 20vw
}

#rowC{
    margin: 30px;
    padding :20px;
    display:inline-block;
    /* flex-direction:row; */
    vertical-align: top;

}