.rowC .slide-container img{
    max-height : 30vh;
}
.card-title{
    color : black;
}

.rowC{
    padding :0px;
    max-width : 18vw;
    /* flex-direction:row; */
}
.add-to-cart-btn{
    margin-right : 5px;
}
@media only screen and (max-width: 600px) {
    .rowC{
        max-width : 85vw;
    }
    .rowC .slide-container img{
        max-height : 60vh;
    }
} 